@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

* {
    color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: hsl(267, 72%, 83%);
}

header {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(61, 56, 56);
    font-weight: 700;
    font-size: 60px;
}

nav .text p {
    font-size: 23px;
}

p {
    font-weight: 600;
    font-size: 22px;
    word-break: break-all;
}

nav {
    width: 100%;
    height: 20vh;
    border: solid 2px blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #895de9;
}

nav h2{
    color: white;
}
.text-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.meio {
    margin-top: 1.5%;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
    height: 69vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #895de9;
    border-radius: 30px;
    border: solid 2px blue;
}

#left {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: fit-content;
}

#right {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: fit-content;
}
#right li{
    font-size: 20px;
    font-weight: 600;
}

main {
    width: 59%;
    height: 69vh;
    margin: 0 0 0 .5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 69vh;
    border: solid 2px blue;
    border-radius: 10px;
    width: 100%;
    background-color: #895de9;
}

section p {
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 5px 0 5px 0;
    background-color: #0f075e;
    color: white;
}

footer a {
    color: #ffd8ff;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.rodape p {
    display: inline-flex;
    margin: 0 0 0 1.5%;
}

.rodape a {
    display: inline-flex;
    margin: 0 0 0 8px;
}

h2 {
    font-weight: bold;
    color: rgb(29, 26, 26);
}